.page-content {

    .shopping-lists-page {
      text-align: center;
    }
    
    .shopping-lists,
    .user-groups {
      &__container {
        max-width: 800px;
        margin: 0 auto;
      }
    
      &__list {
        margin-top: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
        &-header {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 1rem;
    
          display: flex;
          justify-content: center;
          gap: 1rem;
    
          h3 {
            margin: 0;
          }
        }
    
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 1rem;
          border-bottom: 1px solid #ccc;
    
          &:last-child {
            border-bottom: none;
          }
    
          &-name {
            font-size: 1.2rem;
          }
    
          &-actions {
            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }
}
