@use '../base/variables.scss' as *;

.app-footer {
  background-color: #121212;
  padding: 2rem 1.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
  text-align: center;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

.footer-logo {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 700;
  color: $primary-color;
}

.footer-links {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;

  a {
    color: #9ca3af;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

.footer-copyright {
  flex: 1;
  text-align: end;
  font-size: 0.875rem;
  color: #6b7280;
}
