.w-full {
  width: 100%;
}

.p-button-lg {
  font-size: 1rem !important;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.w-full {
  width: 100% !important;
}

.text-red-400 {
  color: #f87171;
}

.w-full {
  width: 100% !important;
}

.mt-4 {
  margin-top: 1rem !important;
}
